body {
    color: #385765;
    background-color: #f3f9f9;
    font-family: 'Lora', serif;
    font-family: 'Noto Serif JP', serif;
}

.cloudy-green {
    background-color: #7fc4c1;
}

a {
    color: #7fc4c1;
}

.transparent-white-text {
    color: #f3f9f9;
}
